*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ECF8F8;
}

.bigContainer{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.add{
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.inputDiv{
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.btnDiv{
    display: flex;
    justify-content:space-evenly;
}

button{
    border: none;
    padding: 8px 48px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #B2967D; 
    color: whitesmoke;
}

input{
    height: 80%;
    width: 30%;
    outline: none;
    border: none;
    padding: 0.5rem;
}
.container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    height: 75vh;
    overflow-y: auto;
    background-color: #E7D8C9;
}

.detail{
    height: 30%;
    width: 30%;
    margin: 1rem;
    padding: 0.4rem;
    font-size: 14px;
    overflow: auto;
    background-color: #E6BEAE;
}
.detail div{
    margin: 0.2rem;
}

.active{
    background-color: red;
}
