/* *{
    /* margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #437C90;
}

input{
    height: 3rem;
    width: 27rem;
    margin: 2rem;
    padding: 0.75rem;
    font-size: 1.25rem;
    outline: none;
    border-radius: 30px;
    background-color: #EEEBD3;
    color:#255957;
} */
